  <h1 class="font-bree-serif align-center">Designed for designers &amp; developers</h1>
  <h4 class="align-center font-open-sans-normal-italic">Need reasons to use this mirco-framework? Check the features below.</h4>
  <div class="row features">
    <div class="col-md-4"> <i class="feature-icon icon-th"></i>
      <h3>Fast and Flexible URL Dispatching</h3>
      <p>Tired of exposing your filesystem or file to your vistors? With {{config.BRAND_NAME}}, you define your routes and what users can see.</p>
    </div>
    <!--end col-md-4-->
    <div class="col-md-4"> <i class="feature-icon icon-resize-full"></i>
      <h3>Design Your System with Consistency</h3>
      <p>{{config.BRAND_NAME}} utilizes Twig for advance Template Management, which allows one to design and code with consistency in a manner of seconds.</p>
    </div>
    <!--end col-md-4-->
    <div class="col-md-4"> <i class="feature-icon icon-twitter"></i>
      <h3>Made With Bootstrap</h3>
      <p>Twitter Bootstrap provides a faster, easier, and less repetitive solution to presentation, which will no doubt appeal to any seasoned web/app developer.</p>
    </div>
    <!--end col-md-4-->
  </div>
  <!--end row-->
  <div class="row features">
    <div class="col-md-4"> <i class="feature-icon icon-list-ol"></i>
      <h3>Social Plugins</h3>
      <p>{{config.BRAND_NAME}} comes with Social Buttons and Social Network API for you to easily link your application with Social Networking sites like Facebook.</p>
    </div>
    <!--end col-md-4-->
    <div class="col-md-4"> <i class="feature-icon icon-font"></i>
      <h3>Google Web Font</h3>
      <p>Montes faucibus viverra enim egestas nibh placerat pellentesque dignissim vehicula amet eget nascetur lacus sed, nam nonummy diam, hendrerit.</p>
    </div>
    <!--end col-md-4-->
    <div class="col-md-4"> <i class="feature-icon icon-flag"></i>
      <h3>Font Awesome Icons</h3>
      <p>Montes faucibus viverra enim egestas nibh placerat pellentesque dignissim vehicula amet eget nascetur lacus sed, nam nonummy diam, hendrerit.</p>
    </div>
    <!--end col-md-4-->
  </div>
  <!--end row-->
  <hr class="soften">
  <h1 class="font-bree-serif align-center">Showcase</h1>
  <h4 class="align-center font-open-sans-normal-italic">Websites using this plugin. Check Out</h4>
  <div class="row thumbnails">
    <div class="col-md-3">
      <a href="http://scpls.osoobe.2fh.co/" class="thumbnail">
        <img src="https://lh5.googleusercontent.com/ZcCrqTbwdqhstOxOs_WML6LyqXwKI8BbkZnF12Saaafjc0RVveKas5XR6TVT6NxQyilHN-bsdZQ=w1342-h499" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{host}}" class="thumbnail">
        <img src="{{static}}/img/photo/placeholder/260x180" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{host}}" class="thumbnail">
        <img src="{{static}}/img/photo/placeholder/260x180" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="{{host}}" class="thumbnail">
        <img src="{{static}}/img/photo/placeholder/260x180" alt="">
      </a>
    </div>
  </div>
