html{
    &.signin{
        #main-content{
            background: url("../../img/photo/blur.png");

            .opci.signin{
                background: rgba(0,0,0,.2);
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 0 15px black;
            }
        }
    }
    
    &.university_register{
        #main-content{
            background: url("../../img/photo/blur.png");
            
            .container{
                padding-top: 50px;
                padding-bottom: 50px;
            }
            
            form[name="university_registration"]{
                background: rgba(0,0,0,.3);
                border-radius: 15px;
                box-shadow: 0 0 15px black;
                padding: 15px;
                .input-group{
                    width: 100%;
                    
                    input.form-control{
                        display: inline-block;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}