html{
    &.signin{
        #main-content{
            background: url("../../img/photo/blur.png");

            .opci.signin{
                background: rgba(0,0,0,.2);
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 0 15px black;
            }
        }
    }
}
