@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.full-width {
  width: 100%;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.social-button {
  height: 35px;
}
#main-content {
  min-height: 500px;
}
form[name="user_invite"] .bootstrap-tagsinput input {
  font-size: 18px !important;
  padding-bottom: 10px !important;
  padding-top: 5px !important;
}
form[name="user_invite"] [type="submit"] {
  vertical-align: top !important;
}
.alert {
  position: fixed;
  z-index: 10000;
  top: 60px;
  width: 90%;
  margin: 0 5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}
h1 h1,
h2 h1,
h3 h1,
h4 h1,
h5 h1,
h6 h1 {
  font-size: 40px;
}
h1 h3,
h2 h3,
h3 h3,
h4 h3,
h5 h3,
h6 h3 {
  color: #95a5a6;
  font-weight: 400;
}
h1 h4,
h2 h4,
h3 h4,
h4 h4,
h5 h4,
h6 h4 {
  color: #95a5a6;
  font-weight: 400;
  font-size: 20px;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}
.centered {
  text-align: center;
}
a {
  color: #3498db;
  word-wrap: break-word;
  -webkit-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -moz-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -ms-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -o-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  transition: #3498db 0.1s ease-in background 0.1s ease-in;
}
a:before,
a:after {
  -webkit-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -moz-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -ms-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  -o-transition: #3498db 0.1s ease-in background 0.1s ease-in;
  transition: #3498db 0.1s ease-in background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.modal-body {
  margin-left: 15px;
  margin-right: 15px;
}
.noCurve {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.navbar-default {
  background-color: #3498db;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
#headerwrap {
  background-color: #3498db;
  margin-top: -20px;
  padding-top: 200px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}
.modal-header {
  background-color: #f5f5f5;
}
.modal-header .modal-title {
  color: black !important;
  font-weight: bold !important;
}
form.login .form-group,
form.register .form-group {
  width: 100%;
}
form.login .form-group input[type="text"],
form.login .form-group input[type="email"],
form.login .form-group input[type="password"],
form.register .form-group input[type="text"],
form.register .form-group input[type="email"],
form.register .form-group input[type="password"] {
  width: 100%;
}
form.login .form-group img,
form.register .form-group img {
  max-height: 150px;
}
.modal form.register {
  display: none;
}
.modal form.register #password-field {
  position: absolute;
  bottom: 20px;
}
.modal form.register [class^="col-"]:nth-last-of-type(2) {
  float: right;
}
.modal form.login [class^="col-"] {
  position: relative;
}
footer {
  background: #333;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}
html.signin #main-content {
  background: url("../../img/photo/blur.png");
}
html.signin #main-content .opci.signin {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
}
html.university_register #main-content,
html.faculty_register #main-content {
  background: url("../../img/photo/blur.png");
}
html.university_register #main-content .container,
html.faculty_register #main-content .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
html.university_register #main-content form,
html.faculty_register #main-content form {
  background: rgba(0,0,0,0.3);
  border-radius: 15px;
  box-shadow: 0 0 15px black;
  padding: 15px;
}
html.university_register #main-content form .input-group,
html.faculty_register #main-content form .input-group {
  width: 100%;
}
html.university_register #main-content form .input-group input.form-control,
html.faculty_register #main-content form .input-group input.form-control {
  display: inline-block;
  margin-bottom: 20px;
}
html.university_view #profile-header #profile-cover-pic {
  background-image: url("../../img/photo/DistanceEducationInDelhi-NCR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
html.university_view #profile-header .profile-data {
  padding: 5px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-weight: bold;
  text-align: center;
  height: 300px;
}
html.university_view #profile-header .profile-data .logo img {
  width: 40%;
}
html.university_view #profile-header .menu {
  background: white;
}
html.university_view form[name=university_info_update] label span {
  display: inline-block;
  width: 100px;
  vertical-align: super;
  text-align: left;
}
html.university_view form[name=university_info_update] label .input-group {
  display: inline-block;
}
html.university_view form[name=university_info_update] label.control-label {
  display: block;
  text-align: left;
}
.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-control {
  height: 42px;
  font-size: 18px;
  width: 280px;
}
i {
  margin: 8px;
  color: #3498db;
}
.time_circles {
  position: relative;
  width: 100%;
  height: 300px !important;
}
.time_circles > div {
  position: absolute;
  text-align: center;
}
.time_circles > div > h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Century Gothic', Arial;
}
.time_circles > div > span {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Century Gothic', Arial;
  font-size: 300%;
  margin-top: 0.4em;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}
.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}
.input-group .input-group-addon {
  border-radius: 0;
  background-color: #f4f4f4;
}
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
.checkbox,
.radio {
  padding-left: 0;
}
img {
  max-width: 100%important;
}
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}
.box {
  position: relative;
  background: #ffffff;
  border-top: 2px solid #c1c1c1;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
  padding-bottom: 10px;
}
.box .box-header a:not(.btn) {
  color: #444;
}
.box .box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}
.box .box-header:after {
  clear: both;
}
.box .box-body {
  padding: 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.box .box-body > .chart {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.box .box-body .fc {
  margin-top: 5px;
}
.box .box-body .fc-header-title h2 {
  font-size: 15px;
  line-height: 1.6em;
  color: #666;
  margin-left: 10px;
}
.box .box-body .fc-header-right {
  padding-right: 10px;
}
.box .box-body .fc-header-left {
  padding-left: 10px;
}
.box .box-body .fc-widget-header {
  background: #fafafa;
  box-shadow: inset 0px -3px 1px rgba(0,0,0,0.02);
}
.box .box-body .fc-grid {
  width: 100%;
  border: 0;
}
.box .box-body .table {
  margin-bottom: 0;
}
.box .box-body .full-width-chart {
  margin: -19px;
}
.box .box-body.chart-responsive {
  width: 100%;
  overflow: hidden;
}
.box .box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box .box-footer {
  border-top: 1px solid #f4f4f4;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  background-color: #ffffff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box .todo-list {
  margin: 0;
  padding: 0px 0px;
  list-style: none;
}
.box .todo-list > li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  background: #f3f4f5;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.box .todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.box .todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.box .todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.box .todo-list > li .tools {
  display: none;
  float: right;
  color: #f56954;
}
.box .todo-list > li:last-of-type {
  margin-bottom: 0;
}
.box .todo-list > li.danger {
  border-left-color: #f56954;
}
.box .todo-list > li.warning {
  border-left-color: #f39c12;
}
.box .todo-list > li.info {
  border-left-color: #00c0ef;
}
.box .todo-list > li.success {
  border-left-color: #00a65a;
}
.box .todo-list > li.primary {
  border-left-color: #3c8dbc;
}
.box .todo-list > li:hover .tools {
  display: inline-block;
}
.box .todo-list > li.done {
  color: #999;
}
.box .todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.box .todo-list > li.done .label {
  background: #eaeaec !important;
}
.box .todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}
.box .chat {
  padding: 5px 20px 5px 10px;
}
.box .chat .item {
  margin-bottom: 10px;
}
.box .chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.box .chat .item > img.online {
  border: 2px solid #00a65a;
}
.box .chat .item > img.offline {
  border: 2px solid #f56954;
}
.box .chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.box .chat .item > .message > .name {
  display: block;
  font-weight: 600;
}
.box .chat .item > .attachment {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}
.box .chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.box .chat .item > .attachment:after {
  clear: both;
}
.box .chat .item:after {
  clear: both;
}
.box > .overlay {
  z-index: 1010;
  background: rgba(255,255,255,0.7);
}
.box > .overlay.dark {
  background: rgba(0,0,0,0.5);
}
.box > .loading-img {
  z-index: 1020;
  background: transparent url('../img/ajax-loader1.gif') 50% 50% no-repeat;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #f56954;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .box-header:before,
.box .box-header:after {
  display: table;
  content: " ";
}
.box .box-header >.fa,
.box .box-header >.glyphicon,
.box .box-header >.ion,
.box .box-header .box-title {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  float: left;
  cursor: default;
}
.box .box-body >table,
.box .box-body >.table {
  margin-bottom: 0;
}
.box .box-body >.chart svg,
.box .box-body >.chart canvas {
  width: 100% !important;
}
.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
  border-left: 0;
  border-right: 0;
}
.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
  border-right: 0;
}
.box.box-solid {
  border-top: 0px;
}
.box.box-solid > .box-header {
  padding-bottom: 0px !important;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header > .box-tools > .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a {
  color: #444;
}
.box.box-solid.box-info > .box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a {
  color: #444;
}
.box.box-solid.box-danger > .box-header {
  color: #fff;
  background: #f56954;
  background-color: #f56954;
}
.box.box-solid.box-danger > .box-header a {
  color: #444;
}
.box.box-solid.box-warning > .box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a {
  color: #444;
}
.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a {
  color: #444;
}
.box.box-solid.collapsed-box .box-header {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .todo-list >li .tools >.fa,
.box .todo-list >li .tools >.glyphicon,
.box .todo-list >li .tools >.ion {
  margin-right: 5px;
  cursor: pointer;
}
.box .chat .item:before,
.box .chat .item:after {
  display: table;
  content: " ";
}
.box .chat .item >.attachment >p,
.box .chat .item >.attachment >.filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
.box .chat .item >.attachment:before,
.box .chat .item >.attachment:after {
  display: table;
  content: " ";
}
.box >.overlay,
.box >.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  font-size: 300%;
  line-height: 50%;
}
.fc .fc-week-number {
  width: 22px;
  text-align: center;
}
.fc .fc-week-number div {
  padding: 0 2px;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
.fc-header td {
  white-space: nowrap;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
  margin-right: -1px;
}
.fc-header .fc-state-down {
  z-index: 3;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
}
.fc-header .fc-corner-right,
.fc-header .ui-corner-right {
  margin-right: 0;
}
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}
.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}
.fc-content {
  clear: both;
  zoom: 1;
}
.fc-view {
  width: 100%;
  overflow: hidden;
}
.fc-widget-header,
.fc-widget-content {
  border: 1px solid #ddd;
}
.fc-state-highlight {
  background: #fcf8e3;
}
.fc-cell-overlay {
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
}
.fc-button {
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
.fc-state-default {
  border: 1px solid;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.fc-state-default.fc-corner-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fc-state-default.fc-corner-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  font-weight: bold;
}
.fc-button.fc-state-default {
  border: 1px solid #d9dadc;
  border-bottom-color: #d3d5d7;
  border-bottom-width: 2px;
  margin-left: 0px !important;
  background: #fafafa;
  color: #666;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}
.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.fc-event-container > * {
  z-index: 8;
}
.fc-event-container >.ui-draggable-dragging,
.fc-event-container >.ui-resizable-resizing {
  z-index: 9;
}
.fc-event {
  border: 1px solid #3a87ad;
  background-color: #3a87ad;
  color: #fff;
  font-size: .85em;
  cursor: default;
}
a.fc-event {
  text-decoration: none;
}
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}
.fc-rtl .fc-event {
  text-align: right;
}
.fc-rtl .fc-grid .fc-day-number {
  float: left;
}
.fc-rtl .fc-grid .fc-event-time {
  float: right;
}
.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}
.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}
.fc-event-hori .ui-resizable-e {
  top: 0 !important;
  right: -3px !important;
  width: 7px !important;
  height: 100% !important;
  cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
  top: 0 !important;
  left: -3px !important;
  width: 7px !important;
  height: 100% !important;
  cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
}
.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
table.fc-border-separate {
  border-collapse: separate;
}
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}
.fc-grid th {
  text-align: center;
}
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
}
.fc-grid .fc-event-time {
  font-weight: bold;
}
.fc-agenda table {
  border-collapse: separate;
}
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}
.fc-agenda .fc-week-number {
  font-weight: bold;
}
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}
.fc-agenda .ui-resizable-resizing {
  _overflow: hidden;
}
.fc-agenda-days th {
  text-align: center;
}
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}
.fc-agenda-allday th {
  border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  _height: 34px;
}
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
}
.fc-agenda-slots th {
  border-width: 1px 1px 0;
}
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}
.fc-agenda-slots td div {
  height: 20px;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
}
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
}
.fc-event-vert {
  border-width: 0 1px;
}
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}
.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}
.fc-event-vert .fc-event-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
}
.fc-event-vert .ui-resizable-s {
  bottom: 0 !important;
  width: 100% !important;
  height: 8px !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
  display: none \9;
}
.external-event {
  margin: 10px 0;
  padding: 3px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  margin: 0 5px 5px 0;
}
@media print {
  .fc-event {
    background: #fff !important;
    color: #000 !important;
  }
  .fc-event-bg {
    display: none !important;
  }
  .fc-event .ui-resizable-handle {
    display: none !important;
  }
}
