#regs-box {
    position: absolute;
    padding: 20px 35px 50px 35px;
	margin:opx auto;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	/*background-image:  url(../img/login-box-backg.png);*/
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 20px #555;
    background-color: black;
    width: 420px;
    top: 20%;
}	

#regs-box a.logo{
    text-align:center;
    display:block;
}

