#main{
    padding: 0 20px;
}

#main, #main-container, #sidebar{
    min-height: 500px;
   /* box-shadow: 0 0 5px black;*/
}

#sidebar img.profile-pics {
    width: 100%;
    height: 208px;
}

#sidebar .username{
    font-weight: bold;
    text-shadow: 0 0 2px white;
    text-align: center;
    font-size: 18pt;
}

#sidebar .profile-pic{
    position: relative;
}
#sidebar .profile-pic .pic-changer{
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    cursor: pointer;
}
