<footer role="contentinfo">
	<div class="container">
		<!--<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div> /row -->
		<hr>
		<p class="centered">Created by {{configs.conpany_name}} - Attribution License 3.0 - 2014</p>
		<p class="centered">©Feronic. All rights reserved | Site template by<a href="http://www.blacktie.co/">BlackTie.co</a></p>
	</div><!-- /container -->
</footer>