
<!-- NAVBAR ================================================= -->   
 <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="welcome"><img src = "static/img/icons/tattletale.png" /><b class = "logo">{{configs.website_name}}</b></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user is not defined %}
                <!--<li><a href = "#login" data-toggle="modal" data-target="#login-register">Already a member?</a></li>-->
				 <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Already a member?<!--<b class="caret"></b>--></a>
                        <ul class="dropdown-menu">
                            <li><a href = "#login" data-toggle="modal" data-target="#login-register">Login</a>
                            </li>
                            <li><a href="registration">Register</a>
                            </li>
                            <li><a href="#">Help</a>
                            </li>
                        </ul>
                  </li>
            {% else %}
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> {{user.first_name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="profile">Profile</a></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>              
                </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<!--Login Modal -->
<div class="modal fade" id="login-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="color:white;" > Sign In</h4>
      </div>	  
        {% include 'bit/forms/login.modal.php' %}  
        {% include 'bit/forms/register.modal.php' %}  
    </div>
  </div>
</div>