<link href="static/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="static/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
<link href="static/bootstrap/validator/dist/css/bootstrapValidator.css" rel="stylesheet"/>
<link href="static/css/src/bootstrap-tagsinput.css" type="text/css" rel="stylesheet" />
<link href="static/css/src/vecni.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css' />
<link href="static/css/gen/style.css" type="text/css" rel="stylesheet" />
