{% extends 'base.html' %}
{% block styles %}
  <!-- Le styles -->
  <link href="http://modalrabi.web.id/themes/fransisca/css/style.css" rel="stylesheet">
  <link href="http://modalrabi.web.id/themes/fransisca/css/icon-style.css" rel="stylesheet">
  <link href="http://modalrabi.web.id/themes/fransisca/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="http://modalrabi.web.id/themes/fransisca/source/jquery.fancybox.css" rel="stylesheet">

  <link rel="shortcut icon" href="http://modalrabi.web.id/themes/fransisca/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="http://modalrabi.web.id/themes/fransisca/img/favicon.ico" type="image/x-icon">
{% endblock %}
{% block scripts %}
  <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="./Fransisca Gallery_files/jquery-1.7.2.min.js"></script>
  <script src="./Fransisca Gallery_files/bootstrap.js"></script>
  <script src="./Fransisca Gallery_files/image-gallery.js"></script>
  <script src="./Fransisca Gallery_files/jquery.mousewheel-3.0.6.pack.js"></script>
  <script src="./Fransisca Gallery_files/jquery.fancybox.js"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav-headers">
                    <h3>Find Your Favorite Image, Video, and Other With Fransisca Gallery.</h3>
                    <p><a href="http://modalrabi.web.id/themes/fransisca/#" class="btn">Learn more →</a></p>
                </div>
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-picture"></i> Newest</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-ok"></i> Popular</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-certificate"></i> Top Sites</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-bookmark"></i> Most Viewed</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-th-list"></i> Categories</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-download"></i> Most Download</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#"><i class="icon-heart"></i> Recomended</a></li>
                </ul>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="group" rel="group1" href="./Fransisca Gallery_files/4_b.jpg"><img src="./Fransisca Gallery_files/4_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Building</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Tower</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Eifel</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Wonders of the world</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Miracle</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="group" rel="group1" href="./Fransisca Gallery_files/3_b.jpg"><img src="./Fransisca Gallery_files/3_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Sun</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Sunrise</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Dawn</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Morning</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Landscape</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="group" rel="group1" href="./Fransisca Gallery_files/1_b.jpg"><img src="./Fransisca Gallery_files/1_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Tree</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Landscape</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Forest</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Nature</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="images1" href="./Fransisca Gallery_files/5_b.jpg"><img src="./Fransisca Gallery_files/5_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Building</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Home</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="images2" href="./Fransisca Gallery_files/2_b.jpg"><img src="./Fransisca Gallery_files/2_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Sea</a></p>
                </div>
            </div>

            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="images3" href="./Fransisca Gallery_files/4_b.jpg"><img src="./Fransisca Gallery_files/4_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Building</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Tower</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Eifel</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Wonders of the world</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Miracle</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="images4" href="./Fransisca Gallery_files/3_b.jpg"><img src="./Fransisca Gallery_files/3_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Sun</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Sunrise</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Dawn</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Morning</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Landscape</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="group" rel="wheel_group" href="./Fransisca Gallery_files/1_b.jpg"><img src="./Fransisca Gallery_files/1_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Tree</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Landscape</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Forest</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Nature</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a rel="wheel_group" href="./Fransisca Gallery_files/5_b.jpg"><img src="./Fransisca Gallery_files/5_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Building</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Home</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a rel="wheel_group" href="./Fransisca Gallery_files/2_b.jpg"><img src="./Fransisca Gallery_files/2_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Sea</a></p>
                </div>
            </div>
            <div class="col-md-3 galery">
                <div class="menu-galery">
                    <ul>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Detail"><i class="iconbig-search"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/detail.html" rel="tooltip" data-original-title="Add Comment"><i class="iconbig-speak"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Download"><i class="iconbig-download"></i></a></li>
                        <li><a href="http://modalrabi.web.id/themes/fransisca/#" rel="tooltip" data-original-title="Like"><i class="iconbig-black-star"></i></a></li>
                    </ul>
                </div>
                <div class="image-galery"><a class="images3" href="./Fransisca Gallery_files/4_b.jpg"><img src="./Fransisca Gallery_files/4_b.jpg"></a></div>
                <div class="count-galery">
                    <ul>
                        <li><i class="icon-comment"></i> 5</li>
                        <li><i class="icon-download-alt"></i> 7</li>
                        <li><i class="icon-star"></i> 2</li>
                        <li><i class="icon-eye-open"></i> 20</li>
                    </ul>
                </div>
                <div class="tags-galery">
                    <p><i class="icon-tags"></i> Tags : <a href="http://modalrabi.web.id/themes/fransisca/#">Building</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Tower</a>,
                    <a href="http://modalrabi.web.id/themes/fransisca/#">Eifel</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Wonders of the world</a>, <a href="http://modalrabi.web.id/themes/fransisca/#">Miracle</a></p>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="pagination">
        <ul>
          <li class="disabled"><a href="http://modalrabi.web.id/themes/fransisca/#" title="Go to the first page">« First</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#" title="Go to the previous page">←</a></li>
          <li class="active"><a href="http://modalrabi.web.id/themes/fransisca/#">1</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#">2</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#">..</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#">8</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#">9</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#" title="Go to the next page">→</a></li>
          <li><a href="http://modalrabi.web.id/themes/fransisca/#" title="Go to the last page">Last »</a></li>
        </ul>
      </div>
    </div>

    <div class="container footer">
        <hr class="alt">
        <div class="row">
            <div class="span6">© 2012 Fransisca Gallery. All right reserved.</div>
            <div class="span6">
                <ul>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#">Terms Of Service</a></li>
                    <li><a href="http://modalrabi.web.id/themes/fransisca/#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


