.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  border-top: 3px solid green;
}
#account.signin.register {
  position: absolute;
  right: 0;
}
footer {
  background: #333;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
}
* GLOBAL STYLES
-------------------------------------------------- */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.navbar-wrapper {
  position: absolute;
  top: 480px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  margin: 0 auto;
  width: 90%;
  height: 500px;
}
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.row.featurette {
  padding-top: 50px;
  padding-bottom: 50px;
}
.row.featurette:nth-child(2),
.row.featurette:nth-child(4) {
  background: black;
}
.row.featurette:nth-child(3) {
  background: orange;
  color: white;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.side-display {
  width: 100%;
  min-height: 250px;
}
.featurette-heading {
  margin-top: 120px;
}
